.header-div {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40px;
  z-index: 99;
  align-items: center;
}

span {
  color: black;
  font-family: Heebo;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
}

.text-greeting {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.circle {
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.greetings {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
