* {
  margin: 0;
  padding: 0;
}

.home-one {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  background: url('../../img/bg2.png');
  background-blend-mode: darken;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.home-two {
  /* position: absolute; */
  /* width: 1365px;
  height: 768px; */

  background: url('../../img/bg4.png');
  /* transform: rotate(-180deg); */
}

.main-container {
  position: relative;
  width: 90%;
  left: 6%;
  top: 70px;
  height: 520px;
  overflow-y: hidden;
  overflow-x: hidden;
}