.login-page {
  background-image: url('../../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.form-position {
  height: 224px;
  left: 115px;
  position: absolute;
  top: 272px;
  width: 368px;
  z-index: 99;
}

.form-title {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  left: 115px;
  /* position: absolute; */
  top: 272px;
  width: 198px;
}

.image-form {
  /* position: absolute; */
  left: 8.42%;
  right: 83.94%;
  top: 35.68%;
  bottom: 59.64%;
}

span {
  color: #fff;
  height: 40px;
  font-style: normal;
  font-family: Heebo;
  font-weight: 300;
  font-size: 28px;
  left: 236px;
  /* position: absolute; */
  line-height: 40px;
  top: 272px;
  width: 77px;
}

input {
  align-items: baseline;
}

.input-email {
  /* position: absolute; */
  width: 368px;
  height: 60px;
  left: 115px;
  top: 360px;
  border: none;
  font-family: Heebo;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
  text-indent: 15px;
  color: #fff;
  line-height: 40px;
  padding-bottom: 0;
}

.input-label {
  position: relative;
  width: 40px;
  height: 16px;
  left: 18px;
  top: 22px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */


  color: #FFFFFF;

  opacity: 0.5;
  z-index: 1;
}

.btn-entrar {
  font-family: Heebo;
  position: relative;
  top: -50px;
  left: 280px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: #B22E6F;

  background: #FFFFFF;
  border-radius: 44px;
  border: none;

  width: 85px;
  height: 36px;
  cursor: pointer;
}

.btn-entrar:hover {
  box-shadow: 0px 0px 0.5px 2px rgba(255, 255, 255, 0.32);
  transform: scale(1.02);
  transition: all 0.3s;
}

.btn-entrar-disabled {
  font-family: Heebo;
  position: relative;
  top: -50px;
  left: 280px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: #c1c1c1;

  background: #FFFFFF;
  border-radius: 44px;
  border: none;

  width: 85px;
  height: 36px;
}

.vetor {
  position: relative;
  /* width: 8px;
  height: 16px; */
  left: 10px;
  top: -34px;
  width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, 0.4);

  /* background: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  /* transform: rotate(90deg); */
}

.back-error {
  position: relative;
  width: 239px;
  height: 48px;
  left: 1px;
  top: -33.6px;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}

.error-text {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  top: 30%;
  position: relative;
  text-align: center;


  color: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}